{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<title>Questions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include  'polls/header.html' %}
<h1>Latest Questions</h1>
<a href="{% url 'polls:create' %}" id="create-question">Create a new question</a>
<section>
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <article class="question">
                <a href="{% url 'polls:detail' question.id %}">
                    <h2>{{ question.question_text }}</h2>
                    <p>{{ question.pub_date }}</p>
                </a>
            </article>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</section>
