{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<title>Add Your Vote</title>

{% include  'polls/header.html' %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset style="width: 50%; margin: auto;">
        <legend><h1>{{ question.question_text }}</h1></legend>
        <section style="text-align: start; width: max-content; margin: auto">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </section>
        <br>
        <input type="submit" value="Vote">
    </fieldset>

</form>